<div class="jumbotron jumbotron-vs text-center mb-2">
    <div class="container">
        <div class="row justify-content-center">
            <img src="/assets/img/vsdpro.png" width="48" height="48" />
            <h1 class="text-muted"> VSDebugPro</h1>
        </div>
        <div class="row justify-content-center mt-3">
            <footer class="text-monospace">Enhanced debugging for Visual C/C++, C#. Dump blocks of data, load data in memory and more.
            </footer>
        </div>    
    </div>
</div>
