<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pages/tutorials.html">Tutorials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pages/faq.html">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pages/contact.html">Contact</a>
            </li>
        </ul>
        <span class="mr-3 ml-3">
            <div class="btn-group">
                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Download</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="https://github.com/ovidiuvio/VSDebugPro/releases/download/3.4.0.1/VSDebugPro.vsix">VS2019 <span class="badge badge-secondary">3.4.0.1</span></a>
                    <a class="dropdown-item" href="https://vsd.adns.link/2.0.7.4/VSDebugTool.vsix">VS2010 <span class="badge badge-secondary">2.0.7.4</span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/pages/downloads.html">All Versions</a>
                </div>
            </div>
        </span>
        <span class="mr-3 ml-3">
            <a href="https://marketplace.visualstudio.com/items?itemName=OvidiuIonescu.VSDebugTool">
                <img src="/assets/svg/microsoft-visual-studio.svg" width="32" height="32" alt="Visual Studio marketplace" title="Visual Studio marketplace"/>
            </a>
        </span>
        <span class="mr-3 ml-3">
            <a href="https://github.com/ovidiuvio/VSDebugPro">
                <img src="/assets/img/GitHub-Mark-Light-32px.png" width="32" height="32" alt="GitHub Repository" title="GitHub source code" />
            </a>
        </span>
    </div>
</nav>
<div class="jumbotron text-center mb-2">
    <div class="container">
        <div class="row justify-content-center">
            <img src="/assets/img/vsdpro.png" width="64" height="58" />
            <h1 class="text-muted">VSDebugPro</h1>
        </div>
        <div class="row justify-content-center mt-3">
            <footer class="text-monospace">Enhanced debugging for Visual C/C++. Dump blocks of data, load data in memory and more.
            </footer>
        </div>
        
    </div>
</div>