<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/downloads.html">Downloads</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center mb-2">
    <div class="container">
        <div class="row justify-content-center">
            <img src="/assets/img/vsdpro.png" width="64" height="58" />
            <h1 class="text-muted">VSDebugPro</h1>
        </div>
        <div class="row justify-content-center mt-3">
            <footer class="text-monospace">Enhanced debugging for C/C++. Dump blocks of data, load data in memory and more.
            </footer>
        </div>
    </div>
</div>