<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if page.url == '/' %}current{% endif %}">
                <a class="nav-link" href="/"><span class="nav-text">Home</span></a>
            </li>
            <li class="nav-item {% if page.url == '/pages/docs.html' %}current{% endif %}">
                <a class="nav-link" href="/pages/docs.html"><span class="nav-text">Docs</span></a>
            </li>
            <li class="nav-item {% if page.url == '/pages/faq.html' %}current{% endif %}">
                <a class="nav-link" href="/pages/faq.html"><span class="nav-text">FAQ</span></a>
            </li>
            <li class="nav-item {% if page.url == '/pages/contact.html' %}current{% endif %}">
                <a class="nav-link" href="/pages/contact.html"><span class="nav-text">Contact</span></a>
            </li>
        </ul>
        <span class="mr-3 ml-3">
            <div class="btn-group">
                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Download</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="https://github.com/ovidiuvio/VSDebugPro/releases/download/4.2.2.0/VSDebugPro.vsix">VS2022 <span class="badge badge-secondary">4.2.2.0</span></a>
                    <a class="dropdown-item" href="https://github.com/ovidiuvio/VSDebugPro/releases/download/4.2.2.0/VSDebugPro.vsix">VS2019 <span class="badge badge-secondary">4.2.2.0</span></a>
                    <a class="dropdown-item" href="https://github.com/ovidiuvio/VSDebugPro/releases/download/3.2.0.1/VSDebugPro.vsix">VS2017 <span class="badge badge-secondary">3.2.0.1</span></a>
                    <a class="dropdown-item" href="https://dl.vsdebug.pro/Release/2-0-7-4/VSDebugTool.vsix">VS2014 <span class="badge badge-secondary">2.0.7.4</span></a>
                    <a class="dropdown-item" href="https://dl.vsdebug.pro/Release/2-0-7-4/VSDebugTool.vsix">VS2012 <span class="badge badge-secondary">2.0.7.4</span></a>
                    <a class="dropdown-item" href="https://dl.vsdebug.pro/Release/2-0-7-4/VSDebugTool.vsix">VS2010 <span class="badge badge-secondary">2.0.7.4</span></a>
                </div>
            </div>
        </span>
        <span class="mr-3 ml-3">
            <a href="https://marketplace.visualstudio.com/items?itemName=OvidiuIonescu.VSDebugTool">
                <img alt="Visual Studio Marketplace Downloads" src="https://img.shields.io/visual-studio-marketplace/d/OvidiuIonescu.VSDebugTool?label=%20&color=e9ecef">
                <img src="/assets/svg/microsoft-visual-studio.svg" width="32" height="32" alt="Visual Studio marketplace" title="Visual Studio marketplace"/>
            </a>
        </span>
        <span class="mr-3 ml-3">
            <a href="https://github.com/ovidiuvio/VSDebugPro">
                <img src="/assets/img/GitHub-Mark-Light-32px.png" width="32" height="32" alt="GitHub Repository" title="GitHub source code" />
            </a>
        </span>
    </div>
</nav>
