.dropdown-menu
{
    background-color: #e9ecef;
}

.navbar-bg-dark {
  background-color: #222;
}

.badge-vs {
  background-color: #576f85;
  color:#fff;
}

.navbar-nav .nav-item .nav-link .nav-text {
  color: #fff;
  display: inline-block;
  padding: 0.5em 0.5em;
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.navbar-nav .nav-item.current .nav-link .nav-text {
  color: #fff;
  background-color: #17a2b8;
}

.code-box {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}
.code-header {
  background-color: #e0e0e0;
  padding: 5px 15px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #222;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copy-button {
  background-color:  #17a2b8;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
}
.code-box pre {
  margin: 0;
  padding: 15px;
}

.code-box code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  line-height: 1.6;
}

code.highlighter-rouge,
code.language-plaintext.highlighter-rouge {
  background-color: #f8f8f8;
    color:  #445488;
    padding: 2px 4px;
    border-radius: 4px;
}

a {
  color: #17a2b8;
  background-color: transparent;
  text-decoration: none;
}

html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 70px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;

  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }
  