<!DOCTYPE html>
<html lang="en">
{% include head.html %}
{% include header.html %}
{% include banner.html %}

<body class="wrap">
<div class="container-fluid docs-container">
  <div class="row justify-content-center">
    <div class="col-md-3 col-lg-3 col-xl-2">
      <nav class="sidebar">
        {% include features-toc.html %}
      </nav>
    </div>
    <div class="col-md-9 col-lg-9 col-xl-9">
      <main role="main" class="content">
        {{ content }}
      </main>
   </div>
   {% include footer.html %}
</div>
</body>
</html>